*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
build/
app/build/
app/release/
captures/
.externalNativeBuild/
.cxx/
KeyStore/
dist/
*.apk
*.aab
*.apks
*.idsig
*.jks
*.keystore
*.log
/emu-home.png
*.bak
*.bak-*
